<h1>Hello Rails！</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<!--<a href="ikidane://192.168.100.222:3100/en/">test</a>-->
<a href="ikidane://"> 打开网易新闻客户端</a>
<a href="ikidane2://"> 打开网易新闻客户端2</a>
<a href="intent://www.kaola.com/product/8342.html#Intent;scheme=ikidane;package=com.ikidane_nippon.ikidanenippon;S.browser_fallback_url=http://www.youku.com;end">打开APP</a>
